.container{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    max-width: 1200px;
    flex-wrap: wrap;
}
.book{
    max-width: 1200px;
    margin: 0 auto;
}

.buttons button{
    width: 250px;
}
.buttons {
    width: 700px;
    display: flex;
    background-color: black;
}

.name {
    width: 300px
}